/**
 * Center all navigation elements
 */
.nav-wrap {
	@extend .clearfix;
	padding-top: 1em;
	padding-bottom: 0.5em;
	text-align: center;

	@media (min-width: $bp-medium) {
		text-align: left;
	}

	@media (max-width: $bp-medium) {
		.js-astro & {
			text-align: left;
		}
	}
}

/**
 * For text-based logo, override default link styling.
 * If .logo and .nav don't align properly,
 * adjust the .logo line-height.
 */
a.logo {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2;
	color: $color-black;
	margin-bottom: calc-em(5px);
	text-decoration: none;

	@media (min-width: $bp-medium) {
		float: left;
		margin-bottom: 0;
	}

	@media (max-width: $bp-medium) {
		.js-astro & {
			float: left;
		}
	}
}

/**
 * For text-based logo, override default link hover styling
 */
a.logo:hover {
	color: $color-primary;
	text-decoration: none;
}

/**
 * Reduce logo icon size
 */
.logo .icon {
	height: 0.8em;
	width: 0.8em;
}

/**
 * Remove default list styling for navigation list
 */
.nav {
	list-style: none;
	font-size: calc-em(15px);
	margin: 0 calc-em(-8px);
	padding: 0;

	@media (min-width: $bp-small) {
		font-size: calc-em(16px);
	}

	@media (min-width: $bp-medium) {
		text-align: right;
	}

	@media (max-width: $bp-medium) {
		.js-astro & {
			text-align: left;
		}
	}
}

/**
 * Display navigation items as inline-block elements.
 * Add slight margin between each navigation item.
 */
.nav li {
	display: inline-block;
	float: none;
	margin-left: calc-em(8px);
	margin-right: calc-em(8px);

	@media (max-width: $bp-medium) {
		.js-astro & {
			display: block;
			width: 100%;
			padding-top: calc-em(4px);
			padding-bottom: calc-em(4px);
		}
	}
}

/**
 * Override default link colors
 */

.nav a {
	color: $color-gray-dark;
}

/**
 * Active link styling
 */
.nav a:hover,
.nav a:active,
.nav a:focus,
.nav .active a {
	border-bottom: calc-em(2px) solid $color-secondary;
	color: $color-black;
	text-decoration: none;
}

/**
 * Small screen navigation toggle
 */
.nav-toggle {
	@extend [hidden];
	color: $color-gray-dark;

	&:hover,
	&:active,
	&:focus {
		color: $color-primary;
		text-decoration: none;
	}

	@media (max-width: $bp-medium) {
		.js-astro & {
			display: block;
			visibility: visible;
			float: right;
		}
	}

	.nav-toggle-icon {
		display: inline-block;
		font-weight: bold;
		transition-duration: 150ms;
		transition-property: transform;
	}

	&.active .nav-toggle-icon{
		transform: rotate(45deg);
	}
}

@media (max-width: $bp-medium) {
	.js-astro .nav-menu {
		clear: left;
		display: none;
		padding-top: calc-em(8px);
		width: 100%;

		&.active {
			display: block;
		}
	}
}