/**
 * @section Navigation Menu
 */

/**
 * Center all navigation elements
 */
.nav-wrap {
	text-align: center;
	padding-top: calc-em(16px);
	padding-bottom: calc-em(8px);
}

/**
 * For text-based logo, override default link styling.
 * If .logo and .nav don't align properly, adjust the .logo line-height.
 */
.logo {
	display: block;
	font-size: calc-em(19px);
	line-height: 1.2;
	color: $color-black;
	margin-bottom: calc-em(5px);
	text-decoration: none;
	@media (min-width: $bp-medium) {
		font-size: calc-em(21px);
	}
}

/**
 * For text-based logo, override default link hover styling
 */
.logo:hover {
	color: $color-primary;
	text-decoration: none;
}

.logo .icon {
	font-size: .8em;
}

/**
 * Remove default list styling for navigation list
 */
.nav {
	list-style: none;
	font-size: calc-em(15px);
	margin: 0;
	padding: 0;
	@media (min-width: $bp-small) {
		font-size: calc-em(16px);
	}
}

/**
 * Display navigation items as inline-block elements.
 * Add slight margin between each navigation item.
 */
.nav > li {
	display: inline-block;
	float: none;
	margin-left: calc-em(8px);
	margin-right: calc-em(8px);
}

/**
 * Remove margin-left on first navigation item
 */
.nav > li:first-child {
	margin-left: 0;
}

/**
 * Remove margin-right on last navigation item
 */
.nav > li:last-child {
	margin-right: 0;
}

/**
 * Active navigation link styling
 */
.nav > li > a {
	color: $color-gray-dark;
}

/**
 * Active navigation link styling
 */
.nav > li > a:hover {
	color: $color-primary;
}

/**
 * Active navigation link styling
 */
.nav > .active > a {
	color: $color-black
}