/**
 * @section Hero
 * Hero image for landing page
 */

.bg {
	background-color: $color-tertiary;
	color: $color-white;
}

.bg-hero {
	// background-image: url("../img/hero-full.jpg");
	background-position: bottom center;
	background-size: cover;
}